// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// Design width
$mobilewidth: 375px;
$desktopwidth: 1440px;

// Colors

// Primary
$paleblue: hsl(225, 100%, 94%);
$brightblue: hsl(245, 75%, 52%);
// Neutral
$verypaleblue: hsl(225, 100%, 98%);
$desaturatedblue: hsl(224, 23%, 55%);
$darkblue: hsl(223, 47%, 23%);

$purplehover: hsl(245, 83%, 68%);

// Typography

$fontsize: 16px;
$fontfamily: 'Red Hat Display', sans-serif;
