@use "sass:math";

// Design width
$mobilewidth: 375px;
$desktopwidth: 1440px;
$breakpoint: math.round(math.div(($mobilewidth + $desktopwidth), 2));

// Colors

// Primary
$paleblue: hsl(225, 100%, 94%);
$brightblue: hsl(245, 75%, 52%);
// Neutral
$verypaleblue: hsl(225, 100%, 98%);
$desaturatedblue: hsl(224, 23%, 55%);
$darkblue: hsl(223, 47%, 23%);

$purplehover: hsl(245, 83%, 68%);

// Typography

$fontsize: 16px;
$fontfamily: 'Red Hat Display', sans-serif;
