@import 'reset';
@import 'base';

/* Global start */
html {
  height: 100%;
  font-family: $fontfamily;
  font-size: $fontsize;
  font-weight: 500;
  text-align: center;
  color: $desaturatedblue;
  overflow: hidden;
  min-width: 330px;
  min-height: 560px;
}

html,
body {
  width: 100%;
}

body {
  height: 100%;
  display: flex;
  background-color: $paleblue;
  background-repeat: no-repeat;
  background-size: contain;
}

a {
  color: $brightblue;

  &:hover {
    color: $purplehover;
  }

  &:visited {
    color: $brightblue;
  }
}

.card {
  width: 330px;
  background-color: #fff;
  border-radius: 20px;
  margin: auto;
  box-shadow: 0 20px 20px 0 #c8d3f3;
  overflow: hidden;
}

.card-body {
  padding: 30px 22px;

  h1 {
    color: $darkblue;
    font-weight: 900;
    font-size: 1.4rem;
  }

  > p {
    margin: 20px 10px;
    line-height: 1.5rem;
  }
}

.plan {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: $verypaleblue;
  border-radius: 15px;
  margin: 24px 0;
  padding: 1rem;

  .plan-info {
    margin-left: 0.5rem;
    margin-right: 2.5rem;
    font-size: 0.9rem;
  
    p:first-child {
      color: $darkblue;
      font-weight: 900;
      line-height: 1.5rem;
    }
  }

  a {
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration-thickness: 2px;
  }
}

button {
  display: block;
  margin: 0 auto;
  width: 100%;
  border: none;
  text-decoration: none;
  font-size: .9rem;
  font-weight: 700;
  cursor: pointer;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  
  &:active {
    transform: scale(0.98);
  }
  
  &.btn-proceed {
    color: #fff;
    background: $brightblue;
    padding: 1rem 4.5rem;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px #3829e069;

    &:hover,
    &:focus {
      background-color: $purplehover;
    }
  }

  &.btn-cancel {
    background-color: #fff0;
    color: $desaturatedblue;
    margin-top: 1.5rem;

    &:hover,
    &:focus {
      color: $darkblue;
    }
  }
}

.attribution {
  font-size: 0.8rem;
  position: fixed;
  bottom: 1rem;
  width: 100%;
  text-align: center;

  @media screen and (max-height: 650px) {
    & {
      display: none;
    }
  }
}

/* Media queries */

@media only screen and (max-width: $breakpoint) {
  body {
    background-image: url(/images/pattern-background-mobile.svg);
  }
}

@media only screen and (min-width: $breakpoint) {
  body {
    background-image: url(/images/pattern-background-desktop.svg);
  }
  
  .card {
    width: 450px;
  }

  .card-body {
    padding: 3rem;
    
    h1 {
      font-size: 1.8rem;
    }
    > p {
      margin: 1rem 1.5rem;
    }
  }

  .plan {
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 1.5rem;

    .plan-info {
      margin-right: 5.5rem;
      line-height: 1.7rem;
      font-size: 1rem;
    }

    a {
      font-size: 0.9rem;
    }
  }
}
